@page
@model Assignment.Pages.HomepageModel;
@{
}
<h1>User Details</h1>
<p>Email: @ViewData["Email"]</p>
<p>Name: @ViewData["FirstName"] @ViewData["LastName"]</p>
<p>Gender: @ViewData["Gender"]</p>
<p>NRIC: @ViewData["NRIC"]</p>
<p>Description: @ViewData["WhoAmI"]</p>
<p>Resume: @ViewData["Resume"]</p>
<form method="post">
<button type="submit" class="btn btn-primary">Change Password</button>
</form>